.main {
    background: url('/assets/img/intro__bg.jpg') center no-repeat;
    background-size: cover;
}

.intro__inner {
    padding: 146px 0 224px;

    @media (max-width: 991px) {
        padding: 76px 0 120px;
    }

    @media (max-width: 691px) {
        padding: 113px 0 222px;
    }
}

.intro__suptitle {
    margin-bottom: 36px;

    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 11%;
    text-transform: uppercase;

    @media (max-width: 991px) {
        margin-bottom: 14px;

        font-size: 12px;
    }

    @media (max-width: 691px) {
        margin-bottom: 24px;
    }
}

.intro__title {
    margin-bottom: 75px;

    font-family: $druk;
    font-size: 50px;
    font-weight: 700;
    line-height: 55px;

    @media (max-width: 991px) {
        margin-bottom: 38px;

        font-size: 26px;
        line-height: 1.2;
    }

    @media (max-width: 691px) {
        margin-bottom: 24px;
        font-size: 20px;
    }
}

.intro__btn {
    display: inline-block;
}