<!-- Modal -->
<div class="modal fade" id="requestModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <button type="button" class="modal__close" data-dismiss="modal" aria-label="Close">
            <img src="assets/img/close.svg" alt="">
        </button>
        
        <div class="modal__slider">
            <!-- Место для слайдера -->
            <img src="https//:placehold.it/273x7=273" alt="">
        </div>

        <div class="modal__info">
            <h2 class="modal__title">
                Tesla Model S 2020
            </h2>

            <div class="modal__descriptions modal__descriptions--mobile">
                <div class="modal__description">
                    <img class="modal__descrition-icon" src="assets/img/modal__descr-icon.svg" alt="">
                    <span class="modal__descrition-span">2012 год</span>
                </div>  
                <div class="modal__description">
                    <img class="modal__descrition-icon" src="assets/img/modal__descr-icon2.svg" alt="">
                    <span class="modal__descrition-span">Мокрый асфальт</span>
                </div>
                <div class="modal__description">
                    <img class="modal__descrition-icon" src="assets/img/modal__descr-icon3.svg" alt="">
                    <span class="modal__descrition-span">1,6 л</span>
                </div>
            </div>

            <p class="modal__text">
                This four-door, five-seat saloon is the car that established Elon Musk’s California-based company as a force to be reckoned with, a company whose products deserve to stand alongside the likes of BMW
            </p>

            <div class="modal__descriptions">
                <div class="modal__description">
                    <img class="modal__descrition-icon" src="assets/img/modal__descr-icon.svg" alt="">
                    <span class="modal__descrition-span">2012 год</span>
                </div>  
                <div class="modal__description">
                    <img class="modal__descrition-icon" src="assets/img/modal__descr-icon2.svg" alt="">
                    <span class="modal__descrition-span">Мокрый асфальт</span>
                </div>
                <div class="modal__description">
                    <img class="modal__descrition-icon" src="assets/img/modal__descr-icon3.svg" alt="">
                    <span class="modal__descrition-span">1,6 л</span>
                </div>
            </div>

            <div class="modal__prices">
                <div class="modal__prices-col">
                    <div class="modal__prices-left">
                        Цена в сутки
                    </div>
                    <div class="modal__prices-right">
                        <span class="modal-special-span-red">13 000 ₸ </span><span class="modal-special-span-gray">/ сутки</span>
                    </div>
                </div>
                <div class="modal__prices-col">
                    <div class="modal__prices-left">
                        Скидка&nbsp;<span class="modal-special-span-red">10%</span>&nbsp;<span class="modal-special-span-gray">(От 7 до 10 дней)</span>
                    </div>
                    <div class="modal__prices-right">
                        <span class="modal-special-span-red">11 700 ₸ </span><span class="modal-special-span-gray">/ сутки</span>
                    </div>
                </div>
                <div class="modal__prices-col">
                    <div class="modal__prices-left">
                        Скидка&nbsp;<span class="modal-special-span-red">20%</span>&nbsp;<span class="modal-special-span-gray">(От 10 до 20 дней)</span>
                    </div>
                    <div class="modal__prices-right">
                        <span class="modal-special-span-red">10 400 ₸ </span><span class="modal-special-span-gray">/ сутки</span>
                    </div>
                </div>
                <div class="modal__prices-col">
                    <div class="modal__prices-left">
                        Скидка&nbsp;<span class="modal-special-span-red">25%</span>&nbsp;<span class="modal-special-span-gray">(От 20 до 30+ дней)</span>
                    </div>
                    <div class="modal__prices-right">
                        <span class="modal-special-span-red">9 900 ₸ </span><span class="modal-special-span-gray">/ сутки</span>
                    </div>
                </div>
            </div>

            <a href="#" class="btn modal__btn">Забронировать</a>
        </div>
        
      </div>
    </div>
  </div>