.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.no-scroll {
    overflow: hidden;
}

.btn {
    display: inline-block;
    padding: 18px 41px;
    margin: 0;
    
    border: 0;
    border-radius: 8px;

    background: $primary;

    font-size: 18px;
    font-weight: 700;
    color: $white;
    text-decoration: none;

    transition: .1s box-shadow linear;

    cursor: pointer;

    &:hover {
        box-shadow: 0px 24px 32px rgba(240, 7, 89, 0.16), 0px 16px 24px rgba(240, 7, 89, 0.12), 0px 2px 6px rgba(240, 7, 89, 0.1), 0px 0px 1px rgba(0, 0, 0, 0.06);
    }

    &:active {
        background: #890534;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.06);
    }

    @media (max-width: 991px) {
        padding: 10px 22px;
        font-size: 12px;
    }
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.slick-arrow {
    &:focus {
        outline: none;
    }

    &:hover {
        cursor: pointer;
    }
}

.slick-slide {
    &:focus {
        outline: none;
    }
}