@import "vars";

/* Default styles */
html {
    font-size: 16px;
}

body {
    margin: 0;

    background-color: #070709;

    font-family: $open;
    color: $white;
    font-weight: 400;
    line-height: 26px;

    &.no-scroll {
      overflow: hidden;
    }
}

.page {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,li {
  list-style: none;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'DrukWideCyr';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Druk-Text-Wide-Cyr-Bold.woff) format('woff');
  }
  
  @font-face {
    font-family: 'DrukWideCyr';
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/Druk-Text-Wide-Cyr-Heavy.woff) format('woff');
  }

  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/OpenSans-Regular.woff) format('woff');
  }

  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/OpenSans-Bold.woff) format('woff');
  }
  
  


/* Bootstrap */
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/transitions";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/modal";

/* Vendor libs */
@import "vendors/slick";

/* Helpers */
@import "helpers";


/* Blocks */
@import "blocks/container";
@import "blocks/header";
@import "blocks/intro";
@import "blocks/about";
@import "blocks/partners";
@import "blocks/services";
@import "blocks/how";
@import "blocks/book";
@import "blocks/contacts";
@import "blocks/footer";
@import "blocks/modal";